
h1 {
  color: black 
}
body {
  
  background-image: url("https://images.unsplash.com/photo-1616361986889-3a182ffc7a23?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8aXBob25lJTIwY2FyfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
  background-size: cover; 
  color: white;
 }

label {
  color: #add8e6;
}
button {
  color: blue;
}
div {
  background: rgba(0, 0, 0, 0.2);
    
}